.btn-disabled {
	background: #3a7372 !important;
	cursor: not-allowed;
}

.select2-container--default .select2-selection--multiple {
	background-color: white;
	border: 1px solid #dddddd;
	border-radius: 4px;
	cursor: text;
	padding-bottom: 5px !important;
	padding-right: 5px !important;
	position: relative;
	padding: 12px 0px 12px 0px !important;
	border-radius: 10px !important;
}

.select2-container .select2-search--inline .select2-search__field {
	box-sizing: border-box;
	border: none;
	font-size: 100%;
	margin-top: 0px !important;
	margin-left: 5px;
	padding: 0;
	max-width: 100%;
	resize: none;
	height: 18px;
	vertical-align: bottom;
	font-family: sans-serif;
	overflow: hidden;
	word-break: keep-all;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: solid #00b3af 1px;
	outline: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #e4e4e4;
	border: 1px solid #aaa;
	border-radius: 4px;
	box-sizing: border-box;
	display: inline-block;
	margin-left: 10px !important;
	margin-top: 0px !important;
	padding: 0;
	padding-left: 20px;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: bottom;
	white-space: nowrap;
}

.select2-container .select2-search--inline .select2-search__field {
	box-sizing: border-box;
	border: none;
	font-size: 120% !important;
	margin-top: 0px !important;
	margin-left: 11px !important;
	padding: 0;
	max-width: 100%;
	resize: none;
	height: 18px;
	vertical-align: bottom;
	font-family: sans-serif;
	overflow: hidden;
	word-break: keep-all;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
	cursor: default;
	padding-left: 2px;
	padding-right: 5px;
	font-size: 14px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	font-size: 14px !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background-color: #00b3af !important;
	color: white;
}

.select2-results__option--selectable {
	font-size: 14px !important;
}

.select2-container--default .select2-selection--single {
	border: 1px solid #dddddd;
	border-radius: 10px;
	height: 48px;
	display: flex;
	align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 26px;
	position: absolute;
	top: 12px;
	right: 1px;
	width: 20px;
}

.select2-container--default .select2-dropdown {
	border: 1px solid #ccc;
	border-radius: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #444;
	line-height: 28px;
	font-size: 14px;
}

.btn-outline-primary:focus, .btn-outline-primary:hover {
	background: rgb(141, 206, 213);
	border: solid #00b3af 1px;
}

.dataTables_wrapper .dataTables_paginate {
	text-align: center;
	margin-top: 1rem;
}

.dataTables_wrapper .dataTables_paginate ul {
	display: inline-flex;
	padding-left: 0;
}

#invoices_filter {
	margin-bottom: 1rem;
}

#invoices_filter label {
	width: 100%;
	text-align: center;
	font-size: 14px;
}

.dataTable thead th {
	font-size: 14px;
	color: #494949;
}

.active > .page-link,
.page-link.active {
    background-color: #00b3af ; /* Background color for active links */
    color: #fff;               /* Text color for active links */
    border-color: #00b3af ;     /* Border color for active links */
}

.badge-success {
	background: #ecfdf3;
	color: #027a48;
}

.badge-draft {
	background: #f2f5ff;
	color: #2c55e7;
}

.badge-progress {
	background: #fff6f7;
	color: #c51025;
}

.border-csi {
	--bs-border-opacity: 1;
	border-color: #04B4B9 !important;
}
